html, body, #root {
    height: 100%;
    margin: 0;
  }
  
.myFormBackGround {
    background: rgb(205, 0, 118);
    background: linear-gradient(137deg, rgba(205, 0, 118, 1) 0%, rgba(85, 35, 185, 1) 68%);
    width: 100vw;
    height: 100vh;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteBox {
    background: white;
    padding: 20px;
    min-width: 400px;
    height: fit-content;
    width: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
}

.itemBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.title {
    font-size: 30px;
    color: #333;
    font-weight: bold;
}

.myForm,
.myButton {
    width: 100%;
}

.myButton {
    background: rgb(66, 8, 160) !important;
}
.liner-bg{
    background: linear-gradient(137deg, rgba(205, 0, 118, 1) 0%, rgba(85, 35, 185, 1) 68%) !important;
    color: white !important;
}
.slot-btn-bg{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}